<!DOCTYPE html>

<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styled.css') }}">
</head>

<body> 

    <header> 

        <nav> 

            <div class="navbar"> 

                <a href="{{ url_for('home') }}"> Home </a>
                
                <a href=""> Forum </a>

                <a href=""> Catálago </a>

                <a href=""> Perfil </a>


            </div>

        </nav>

    </header>

    <main> 

       <div class="heroContainer"> 

                <img class="bannerImg" src="IMAGENS/Logopng.png" alt="Logo do site" width="440px" height="330px">
                
                <div class="bannerText">
                    
                    <h1 class="bannerText"> SAÚDE E LITERATURA. </h1>
                    <p class="bannerText"> FORUM PAGE </p>

                </div>

        </div>
    
    </main>

    <footer> 
    
    </footer>

</body>

</html>
