<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styled.css') }}">
</head>

<body> 

    <header> 

        <nav> 

            <div class="banner"> 

                <img class="bannerImg" src="IMAGENS/Logopng.png" alt="Logo do site" width="300px" height="230px">
                
                <div class="bannerText">
                    
                    <h1 class="bannerText"> SAÚDE E LITERATURA. </h1>
                    <p class="bannerText"> Texto placeHolder </p>

                </div>
            
            </div>

            <div class="navbar"> 

                <a href="{{ url_for('home') }}"> Home </a>
                
                <a href="{{ url_for('forum') }}"> Forum </a>

                <a href=""> Catálago </a>

                <a href=""> Perfil </a>


            </div>

        </nav>

    </header>

    <main> 


        <div class="mainContainer"> 
            
             <div class="inputField"> 

                <form> 
                    <label > Nome </label> 
                    <input class="NameField" type="text">

                    <label > Livro </label>
                    <input class="bookField" type="text"> 

                    <label > Conteudo </label>
                    <input class="ContentField" type="text"> 
                </form> 

            </div>

            <div class="container">

                <h1> Destaques </h1>

                <div class="destaques">
                    <div> 
                        <h2> Resenha </h2>
                    </div>

                    <div> 
                        <h2> Leitura </h2>                    
                    </div>

                </div>
            </div>
        </div>

    </main>

    <footer> 
         <div class="footer"> 
                
                <img class="bannerImg" src="IMAGENS/logoifc.png" alt="Logo do site" width="200px" height="200px">
                 
            <div class="about"> 
                <p>Contato</p>
                <p>Endereços</p>
            </div>

        </div>
    </footer>

</body>

</html>
