<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <header>
            <div class="nav-bar">
                <a href="{{ url_for('home') }}">HOME</a>
                <a href="{{ url_for('forum') }}">FÓRUM</a>
                <a href="{{ url_for('about') }}">SOBRE NÓS</a>

            </div>
        </header>
    <div class="Principal">
        <header class="topo">
            <div class="logohome">
                <img src="{{ url_for('static', filename='images/logo.png') }}" width="450px"height="350px"alt="logo">
            </div>
            <div class="destaques">
            <div class="cards">
                <div class="card">
                <h3>Resenha</h3>
                <img src="https://via.placeholder.com/250x150?text=Resenha" alt="Resenha">
                </div>
                <div class="card">
                <h3>Leitura</h3>
                <img src="https://via.placeholder.com/250x150?text=Saúde+Mental" alt="Saúde Mental">
                </div>
            </div>
            </div>
        </header>
        <section class="info">
            <h2>Para que serve este Site?</h2>
                <form action="{{ url_for('about') }}" method="get">
                    <button type="submit">Saiba Mais</button>
                </form>
        </section>
        <div class="footerhome">
            <footer>
                <img src="{{ url_for('static', filename='images/logo-ifc.png' )}}" width="200px" height="200px" alt="legal">
                <div> 
                    <p> CONTATO: maranhaocaua@gmail.com | zacaipa8@gmail.com | guizuttigzc@gmail.com |
                    gustavokellifc@gmail.com | laraappel@gmail.com | seyycookie@gmail.com</p>
                    <P>ENDEREÇO: SC-283, s/n - Fragosos, Concórdia - SC, 89703-720</P>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>


